extends ../layout

block content
    h2= title

    include form-errors

    form(action="/books/" + book.id + "/edit", method="post")
            include form
            |   
            a.button(href="/books/" + book.id) &larr; Cancel